 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-1 .u-list-1 {
  width: 234px;
  margin: 0 439px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 38px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 7px 1px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  --radius: 6px;
  margin: -1px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 7px 1px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  margin: -1px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 7px 1px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  margin: -1px auto 0;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 750px;
  min-height: 500px;
  height: auto;
  box-shadow: 0px 0px 30px 3px rgba(255,19,3,1);
  --radius: 30px;
  margin: 23px auto 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-list-2 {
  margin-top: 73px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 334px;
  grid-gap: 0px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/karla02.png");
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 39px;
  height: 39px;
  margin: 0 0 0 210px;
}

.u-section-1 .u-image-3 {
  width: 250px;
  height: 141px;
  margin: 153px -4px 0 auto;
}

.u-section-1 .u-image-4 {
  background-image: url("images/karla03.png");
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 39px;
  height: 39px;
  margin: 0 0 0 210px;
}

.u-section-1 .u-image-6 {
  width: 250px;
  height: 141px;
  margin: 153px -4px 0 auto;
}

.u-section-1 .u-image-7 {
  background-image: url("images/karla01.png");
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 39px;
  height: 39px;
  margin: 0 0 0 210px;
}

.u-section-1 .u-image-9 {
  width: 250px;
  height: 141px;
  margin: 153px -4px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 46px;
    grid-auto-columns: 33.3333%;
  }

  .u-section-1 .u-group-1 {
    min-height: 522px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-list-2 {
    margin-top: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    min-height: 331px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 269px;
  }

  .u-section-1 .u-image-3 {
    height: auto;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-6 {
    height: auto;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    height: auto;
    margin-top: 128px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 32px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 67px 0 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-left: 0;
    padding-right: 5px;
    padding-left: 4px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 67px 0 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-left: 0;
    padding-right: 5px;
    padding-left: 4px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 67px 0 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
    margin-left: 0;
    padding-right: 5px;
    padding-left: 4px;
  }

  .u-section-1 .u-group-1 {
    min-height: 297px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 163px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}