 .u-section-1 {
  background-image: linear-gradient(black, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 641px;
}

.u-section-1 .u-list-1 {
  width: 250px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 7px 8px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  --radius: 6px;
  margin: 2px auto 0;
  padding: 0 6px;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 7px 8px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  margin: 2px auto 0;
  padding: 0 6px;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 7px 8px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  margin: 2px auto 0;
  padding: 0 6px;
}

.u-section-1 .u-group-1 {
  width: 750px;
  min-height: 476px;
  height: auto;
  box-shadow: 0px 0px 30px 3px rgba(255,19,3,1);
  --radius: 30px;
  margin: 14px auto 60px 192px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 750px;
  margin: -2px auto 0 -3px;
}

.u-section-1 .u-image-1 {
  min-height: 478px;
  --radius: 30px;
  background-image: url("images/karla-00.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 50px;
  height: 50px;
  margin: 63px 121px 0 auto;
}

.u-section-1 .u-image-3 {
  height: 197px;
  margin-top: 167px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 478px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 108px;
  height: 110px;
  margin: 35px 15px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: -130px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 32px 7px 0;
}

.u-section-1 .u-image-5 {
  width: 33px;
  height: 19px;
  margin: -199px auto 0 172px;
}

.u-section-1 .u-image-6 {
  height: 141px;
  width: 425px;
  margin: 154px auto 0 -7px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-group-1 {
    margin-left: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    grid-template-columns: repeat(3, 33.3333%);
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 459px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-image-3 {
    height: 189px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 135px;
    width: 408px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1379px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 50px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: -1px;
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 794px;
  }

  .u-section-1 .u-image-2 {
    width: 67px;
    margin-top: 108px;
    margin-right: 161px;
  }

  .u-section-1 .u-image-3 {
    height: 327px;
    margin-top: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 67px 0 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-right: -61px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 67px 0 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 9px;
    margin-right: -61px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 67px 0 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 9px;
    margin-right: -61px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-bottom: 35px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-right: 74px;
  }

  .u-section-1 .u-image-3 {
    height: 206px;
    margin-top: 142px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-5 {
    margin-top: -258px;
    margin-right: 143px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    height: 113px;
    width: 340px;
    margin-top: 213px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-right: -10px;
    margin-left: 10px;
  }
}