 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  width: 203px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 7px 8px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  --radius: 6px;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 9px 7px 8px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 7px 8px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 25px 2px rgba(255,255,255,1);
  text-transform: uppercase;
  margin: 5px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 750px;
  min-height: 498px;
  height: auto;
  box-shadow: 0px 0px 30px 3px rgba(255,19,3,1);
  --radius: 30px;
  background-image: none;
  margin: 16px auto 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: 191px;
  width: 533px;
  margin: 21px auto 0;
}

.u-section-1 .u-group-2 {
  min-height: 124px;
  height: auto;
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  margin-top: 162px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 85px;
  width: 495px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-group-1 {
    min-height: 536px;
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 298px;
    width: 400px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 88px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-list-1 {
    width: 300px;
    margin-top: 67px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    grid-auto-columns: 33.3333%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-1 .u-list-1 {
    width: 347px;
    margin-top: 114px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-1 .u-list-1 {
    width: 322px;
    margin-top: 56px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 0 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0 0 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0 0 9px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-1 .u-group-1 {
    min-height: 520px;
    margin-top: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-custom-html-1 {
    height: 298px;
    width: 340px;
    margin-top: -9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 192px;
    margin-top: 39px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 172px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .video {
  position: center;
  left: 0;
  top: 0;
  opacity: 1;
}
.contenedor {
		margin:auto;
		width:100%;
		height:270px;
		text-align:center;
		background:url('')
	   
	}
	.contenedor iframe {
		width:100%;
		height:270px;
		top:0px;
		position:center;
	}
.contenedor iframe {
    padding: 0px;
    background-color: #000;
    color: #000;
    width: 100%;
	height: 270px;
    font-size: 1.2em;
    box-shadow: 0 0 40px  #ffffff;
    border-radius: 20px;
  }
     h1 {
    color:  #ffb2bb;
    text-shadow: 0 0 100px #ff0000;
	font-size: 1.1em;
	width: 150px;
  } 